*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
background-position: center;
}
body{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    
}
@media (max-width: 480px) {
    body{
        background-image: url(mobile.jpg);
        background-size: cover;
    }
}
@media(min-width: 481px){
    body{
        background-image: url(ipad.jpg);
        background-size: cover;
    }
}
@media (min-width: 1025px) {
    body{
        background-image: url(laptop.jpg);
        background-size: cover;
    }
    
}
.lantern{
    width: 100px;
    position: absolute;
    animation: fly-lantern 10s linear forwards;
    filter: drop-shadow(0 0 15px yellow);
}
@keyframes fly-lantern {
    0%{
        transform: translate(0, 0);
        opacity: 0;
    }
    10%{
        transform: translate(0, 0);
        opacity: 1;
    }
    100%{
        transform: translateY(-1000px);
        opacity: 0
    }
}
